# Supabase Database connection
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT-REF].supabase.co:5432/postgres"

# Supabase Auth & Storage
NEXT_PUBLIC_SUPABASE_URL="https://[PROJECT-REF].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOi..."
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOi..."

# AWS Rekognition
AWS_REGION="ap-southeast-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Data Protection (UU PDP)
# NIK_ENCRYPTION_KEY: 32 bytes base64 (contoh: openssl rand -base64 32)
NIK_ENCRYPTION_KEY="MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIzNDU2Nzg5MDE="
# NIK_HASH_PEPPER: string acak untuk HMAC
NIK_HASH_PEPPER="spg-recruitment-secret-pepper-2026"

# Resend Email
RESEND_API_KEY="re_..."
APP_URL="http://localhost:3000"
